<div class="container">
    <h1>Crear préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="prestamo.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.juego" name="juego" required>
                <mat-option *ngFor="let juego of juegos" [value]="juego">{{juego.title}}</mat-option>
            </mat-select>
            <mat-error>El nombre del juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.cliente" name="cliente" required>
                <mat-option *ngFor="let cliente of clientes" [value]="cliente">{{cliente.name}}</mat-option>
            </mat-select>
            <mat-error>El nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input type="date" matInput placeholder="Fecha de inicio" [(ngModel)]="prestamo.fecha_inicio" name="fecha_inicio" required>
            <mat-error>La fecha de inicio del préstamo no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de fin</mat-label>
            <input type="date" matInput placeholder="Fecha de fin" [(ngModel)]="prestamo.fecha_fin" name="fecha_fin" required>
            <mat-error>La fecha de fin del préstamo no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
