<div class="container">
    <h1>Crear préstamo</h1>
    <mat-error *ngIf="tiempoExcedido">El tiempo de préstamo es de 14 días como máximo</mat-error>
    <mat-error *ngIf="fechaInicioSuperior">La fecha de inicio no puede ser superior a la de fin</mat-error>
    <mat-error *ngIf="juegoReservadoCliente">El mismo juego no puede estar prestado a dos clientes distintos en un mismo día</mat-error>
    <mat-error *ngIf="clienteReservaJuego">Un mismo cliente no puede tener prestados más de 2 juegos en un mismo día.</mat-error>
    <form>
        <!--<span>{{error}}</span>-->
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="prestamo.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>El nombre del juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>El nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input type="date" matInput placeholder="Fecha de inicio" [(ngModel)]="prestamo.fechaInicio" required name="fechaInicio" required>
            <mat-error>La fecha de inicio del préstamo no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de fin</mat-label>
            <input type="date" matInput placeholder="Fecha de fin" [(ngModel)]="prestamo.fechaFin"  name="fechaFin" required>
            <mat-error>La fecha de fin del préstamo no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)=" onSave()"  required>Guardar</button>
    </div>
</div>
